{% extends "base.html" %}
{% block content %}

    <div class="container">
        <div class="row">
            {% for category in categories %}
                <div class="col s6 m4">
                    <div class="card #ffa726 orange lighten-1 center-align">
                        <div class="card-content white-text">
                            <a href="{{ url_for('category_page', category_name=category.category_name) }}">
                                <span class="custom-category-name">{{ category.category_name }}</span>
                            </a>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}