{% extends "base.html" %}
{% block content %}

    <h3 class="light-blue center-align">Edit Upload</h3>

<!--------------------  Adding Upload -------------------->
    <div class="row">
        <form class="col s12 m8 offset-m2" method="POST" action="{{ url_for('edit_upload', upload_id=upload._id) }}">
<!--------------------  Category Name -------------------->
            <div class="row">
                <div class="input-field col s12">
                    <input id="catergory_name" name="catergory_name"
                        value="{{ upload.category_name }}" type="text" class="validate" required>
                    <label for="catergory_name">Category Name</label>
                </div> 
            </div>
<!--------------------  Upload Title -------------------->
            <div class="row">
                <div class="input-field col s12">
                    <input id="upload_title" name="upload_title"
                        value="{{ upload.upload_title }}" type="text" class="validate" required>
                    <label for="upload_title">Title</label>
                </div>
            </div>
<!--------------------  Upload-Image -------------------->
            <div class="row">
                <div class="file-field input-field">
                    <div class="btn">
                        <span>Image</span>
                        <input id="upload_image" name="upload_image"
                            value="{{ upload.upload_image }}" type="file">
                    </div>
                    <div class="file-path-wrapper">
                        <input class="file-path validate" type="text">
                    </div>
                </div>
            </div>
<!--------------------  Upload-Description -------------------->
            <div class="row">
                <div class="input-field col s12">
                    <textarea id="upload_description" name="upload_description" minlength="30"
                        maxlength="300" class="materialize-textarea" data-length="300">
                        {{- upload.upload_description -}}
                    </textarea>
                    <label for="upload_description">Text-Description (optional) </label>
                </div>
            </div>

            <div class="row">
                <div class="col s12">
<!--------------------  Cancel-Button -------------------->
                    <a href="{{ url_for('index') }}" class="btn-small red">
                        Cancel!<i class="fas fa-times-circle right"></i>
                    </a>
<!--------------------  Edit-Button -------------------->        
                    <button class="btn-small waves-effect waves-light" type="submit">
                        Edit Upload!<i class="fas fa-edit right"></i>
                    </button>
                </div>
            </div>
        </form>
    </div>


{% endblock %}