{% extends "base.html" %}
{% block content %} 

    <div class="container">

<!-------------------- Uploaded content -------------------->
        <div class="row">
            <div class="col s12 m12 l8">
                {% for upload in uploads %}
                    <div class="card upload-content" style="display: none;">
                            <div class="row">
<!-------------------- Category Name -------------------->
                                <div class="custom-upload-category col s6 ">
                                    {{ upload.category_name }}
                                </div>
                                <div class="col s6 custom-upload-time">
                                    {{ upload.upload_time }}
                                </div>
                            </div>
<!-------------------- on click to go to post link -------------------->
                            <a href="{{ url_for('upload_page', id=upload._id) }}">
                                <div class="custom-upload-title" style="margin: 0;">                                
                                    {{ upload.upload_title }}                                
                                </div>
                                <div class="card-image">
                                    <img src="{{ upload.upload_image }}">
                                </div>
                                <div class="card-content">
                                    <p>{{ upload.upload_description}}</p>
<!-------------------- Only shows when the session user and uploaded by matches -------------------->  
                                    {% if session.user|lower == upload.uploaded_by|lower %}
                                        <p>by: {{ upload.uploaded_by }}</p>
                                    {% endif %}
                                </div>
                            </a>
                    </div> 
                {% endfor %}
<!-------------------- Load more button -------------------->
                <div class="row center-align">
                    <a class="btn-small loadmore">
                        Load more<i class="fas fa-paper-plane right"></i>
                    </a>
                </div>              
            </div>
<!-------------------- Extra small space for categories / tags list -------------------->
            <div class="col s12 m12 l3">
            </div>
        </div>
    </div>

{% endblock %}
